<div class="main_body">
	<div class="jumbotron">
		<h1 class='text-center'>Welcome to Tour App</h1>
		<p class="text-center">Please Register or Login</p>
	</div>
	<div class='container main'>
		<div class="row landing_page">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-centered">
				<div class='button-group' role='group' aria-label='...'>
					<a class='btn btn-primary btn-block' href='#/login' role='button'>Login</a>
					<a class='btn btn-primary btn-block' href='#/register' role='button'>Register</a>
				</div>
			</div>
		</div>
	</div>
</div>